.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-color: rgb(199, 193, 193);
  font-style: oblique;
  color: rebeccapurple;
}

Input {
background-color: rebeccapurple;
color: white;
width: 200px;
height: 25px;
margin-top: 5px;
border-radius: 5px;
border-color: black;
}

button {
  background-color: rebeccapurple;
  color: white;
  width: 100px;
  height: 30px;
  margin-top: 25px;
  border-color: black;
  border-radius: 20px;
}

